html,
body {
  font-family: "Montserrat";
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
.pt40{
  padding-top: 40px;
}
.pt60{
  padding-top: 60px;
}
.pt120{
  padding-top: 120px;
}
.pb40{
  padding-bottom: 40px;
}
.relative{
  position: relative;
}
.space{
  padding: 20px 0px;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  padding: 0px 20px;
  display: block;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .container {
    width: 620px;
    margin:0px auto;
  }
 
}

@media (min-width: 960px) {
  .container {
    width: 920px;
  }
  
}

@media (min-width: 1280px) {
  .container {
    width: 1250px;
  }
}

.row {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: column;
}
.col{
  flex:0 1 auto;
}

@media (min-width: 640px) {
}

@media (min-width: 960px) {
}

@media (min-width: 1280px) {
  .row {
    flex-direction: row;
  }
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}


.button {
  font-family: "Montserrat";
  border: 1px solid #09e;
  color: #fff;
  background-color: #09e;
  border-radius: 7px;
  line-height: 20px;
  padding: 5px 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0px;
  height: 20px;
  box-sizing: content-box;
}
.button.color2{
  background-color: #104;
}
.button.outline{
  border:2px solid #fff;
}


.header {
  display: block;
  background-color: #104;
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 0px;
}

.header .row{
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  height:30px;
  width: 160px;
  display: block;
  padding: 10px 0px;
}

.menu-mobile {
  width: 20px;
  height: 20px;
  background-image: url("./images/menu.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 15px 15px;
  top: 10px;
  left: 10px;
  padding: 10px;
  display: block;
}

@media (min-width: 1280px) {
  .menu-mobile{display: none;}
}

.menu {
  width: 100%;
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: #fff;
}

@media (min-width: 1280px) {
  .menu { 
    display: flex;
    flex: 1 1 auto;
    gap: 25px;
    justify-content: flex-end;
    background-color: transparent;
    position: static;
  }
}


.menu.show{
  display: block;
}

.menu a
{
  color: #104;
  text-decoration: none;
  line-height: 20px;
  padding: 5px;
  display: block;

}

@media (min-width: 1280px) {
  .menu a{
    background-color: transparent;
    color:#fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    position: static;
    height: 30px;
    padding: 10px;
  }
}
.menu .link-button{
  padding: 10px;
}
.menu .link-button .button{
  margin: 0px;
}

.menu-solution{
  width:100%;
  height: 400px;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top:50px;
  right:0px;
  background-color: #fff;
  padding: 20px;
  overflow: auto;
}
@media (min-width: 1280px) {
  .menu-solution{
    height: auto;
  }
}

.menu-solution.show{
  display: block;
}

@media (min-width: 1280px) {
  .menu-solution.show{
    display: flex;
  }
}

.menu-solution a {
    display: block;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    line-height: 30px;
    color:#104;
}

.menu-solution a:hover {
    color: #09e;
}

.menu-solution h2{
  margin: 0px;
  font-weight: 400;
  color:#104;
  margin-bottom: 15px;
}
.menu-solution h3{
  font-weight: 600;
  margin: 0px;
  font-size: 18px;
  color:#777;
  margin-bottom: 15px;
}

.w25{
  width: 25%;
}

.w50{
  width: 50%;
}

.home {
  width: 100%;
  background-color: #104;
  display: block;
}

.home .row{
  padding: 120px 0px;
}
.row.center{
  justify-content: center;
}

.title {
  font-size: 40px;
  line-height: 50px;
  margin: 0px;
  color:#fff;
}
.subtitle {
  display: block;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 20px;
  color:#fff;
}
.text-description{
  margin: 20px 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color:#fff;
}
.image80{
  width: 80%;
  display: block;
}
.image100{
  width: 100%;
}
.image-center{
  margin: 0px auto;
}

.section{
  padding-bottom: 40px;
}
.section .color1{
  color:#104;
}
.section .color2{
  color:#09e;
}

.section h3.title{
  font-size: 18px;
  line-height: 18px;
}
.section .text-description{
  font-size: 14px;
  color:#666;
}



#portifolio {
  padding: 80px 0px;
}
.form-title {
  font-size: 18px;
  margin:0px;
  text-align: center;
  color:#104;
}
.text-center{
  text-align: center;
}
.section-title {
  font-size: 30px;
  margin: 40px 0px;
  text-align: center;
  color:#104;
  display: block;
}
#servicos {
  padding: 80px 0px;
  background-color: #104;
}
#servicos .section-title {
  color: #fff;
}
.w33{
  width: 33.3%;
}
.big-icon {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-color: #09e;
  padding: 1px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.big-icon img {
  display: block;
  width: 40px;
  height: auto;
}
.service-title {
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin: 5px 0px 15px;
}
.unstyled-list {
  padding: 0px;
  list-style: none;
}
.unstyled-list a {
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  text-decoration: none;
  display: block;
}
#not-found {
  padding: 120px;
  text-align: center;
  height: 600px;
}

#post {
  padding: 130px 0px 50px;
}
#post p {
  font-size: 15px;
  line-height: 22px;
}
#blog {
  padding: 80px 0px;
}

#blog a {
  text-decoration: none;
  color: #104;
}
#blog a:hover {
  opacity: 0.8;
}
.blog-image {
  width: 100%;
  height: auto;
}

.empresa {
  background-color: #309;
  color: #fff;
  padding: 140px 0px;
}

.empresa .section-title {
  color:#fff;
}
.image {
  width: 100%;
}
.image img {
  width: 100%;
  height: auto;
}
@media (min-width: 1280px) {
  .image {
    width: auto;
  }
  .image img {
    width: auto;
    height: auto;
  }
}

.text-left{
  text-align: left;
}

#contato {
  padding: 80px 0px;
}
#contato p{
  line-height: 1.4rem;
}
#contactMessage {
  display: block;
  font-size: 12px;
  padding: 1px;
  width: 100%;
  margin: 15px 0px;
}

#contactMessage .error {
  color: red;
}

#contactMessage .success {
  color: green;
}

#footer {
  display: block;
  background-color: #104;
  color: #fff;
  padding: 20px 0px;
}
#footer h3 {
  padding: 0px;
  margin: 0px 0px 25px;
}
.footer-logo {
  height: 40px;
  width: auto;
}
.footer-logo img {
  height: 100%;
  width: auto;
}
#footer ul {
  padding: 0px;
  list-style: none;
}
#footer ul li {
  display: block;
  margin: 0px;
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  padding: 5px 0px;
  display: inline-block;
}
.link:hover {
  opacity: 0.8;
}

.icon-phone,
.icon-email,
.icon-instagram,
.icon-bluesky,
.icon-linkedin,
.icon-github,
.icon-tumblr,
.icon-youtube {
  padding: 10px 0px;
  padding-left: 40px;
  display: inline-block;
  position: relative;
}
.icon-phone {
  padding-left: 38px;
}

.icon-phone::before,
.icon-email::before,
.icon-instagram::before,
.icon-bluesky::before,
.icon-linkedin::before,
.icon-github::before,
.icon-tumblr::before,
.icon-youtube::before {
  content: "";
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
}
#footer .icon-phone h3 {
  margin: 0px;
  padding: 0px;
  line-height: 16px;
  vertical-align: middle;
}
#footer .icon-email h4 {
  margin: 0px;
  line-height: 16px;
  vertical-align: middle;
}
.icon {
  width: 16px;
  height: 16px;
  padding: 10px;
  display: block;
}
.icon-phone::before {
  background-image: url("./images/mobile.svg");
}
.icon-email::before {
  background-image: url("./images/envelope.svg");
}
.icon-instagram::before {
  background-image: url("./images/instagram.svg");
}
.icon-linkedin::before {
  background-image: url("./images/linkedin.svg");
}
.icon-bluesky::before {
  background-image: url("./images/bluesky.svg");
}
.icon-youtube::before {
  background-image: url("./images/youtube.svg");
}
.icon-tumblr::before {
  background-image: url("./images/tumblr.svg");
}
.icon-github::before {
  background-image: url("./images/github.svg");
}

.menu-item.menu-button a{
  margin: 0px;
  padding: 0px;
}

.page-header{
  background-color: #104;
}

.case-image{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sidebar-form{
  background-color: #fff;
  padding: 25px;
  width: 50%;
  margin: 0px auto;
}

.blog-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:40px;
}
.blog-title{
  flex: 0 0 844px;
  padding: 40px;
}
.blog-title h2{
   margin: 0px;
   padding: 0px;
}

.blog-content{
  flex: 0 0 600px;
}
.blog-sidebar{
  flex: 0 0 200px;
}
.post{
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
  
}
.post-category{
  font-weight: 800;
  text-transform: uppercase;
  margin: 10px 0px;
}
.post-image{
  background-color: #ccd;
  height: 300px;
  display: block;
}
.post-title h2{
  font-size: 1.3rem;
  font-weight: 600;
  margin: 5px 0px 5px;
}
.post-options {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0px;
}
.post-description p{
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0px 0px 10px;
}
.widget-title{
  font-weight: 600;
  font-size: 1.1rem;
  margin: 10px 0px;
}
.widget-title::after{
  display: block;
  width: 30%;
  height: 3px;
  background-color: #ccc;
  content: "";
}
.widget ul{
  display: block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.widget ul a{
  font-weight:600;
  font-size: 1rem;
  padding: 5px;
  display: block;
}
.widget ul a:hover{
  opacity: 0.6;
  cursor: pointer;
}

.contato-sidebar{
  width: 80%;
}