<div id="home">
  <div class="container fill-height">
    <div class="row fill-height gap-30">
      <div class="col-6 flex items-center fill-height">
        <div class="text-white banner">
          <h2 class="title">Design e Tecnologia</h2>
          <span class="subtitle">para transformar o seu negocio.</span>
          <div class="mar-top-10 w-80">
            A DLW é especialista em Design e Tecnologia, oferecendo soluções que
            vão desde a criação da identidade visual até o desenvolvimento e
            otimização de sites. Nosso objetivo é criar soluções inteligentes
            que geram melhores resultados fortalecendo a identidade da sua marca
            e conquistando mais clientes online.
          </div>
          <a href="https://ijpfcze82om2.jp.larksuite.com/share/base/form/shrjpFi1MLeLtrMdXhFxk4bLr84">
            <button class="button">
              Agendar consultoria
            </button>
          </a>
          <a href="https://wa.me/55985623979">
            <button class="button">
              Falar com especialista
            </button>
          </a>
        </div>
      </div>
      <div class="col-6 fill-height flex justify-center items-center desktop">
        <img
          height="400"
          src="/images/home-layout.png" />
      </div>
    </div>
  </div>
</div>
